USE [BuildHomes]
GO
/****** Object:  Table [dbo].[MaterialDetails]    Script Date: 13-05-2022 22:57:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialDetails](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Category] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialDetails] ON 

INSERT [dbo].[MaterialDetails] ([MaterialId], [Name], [Category]) VALUES (2011, N'A P CEMENT CONCRETE AND ALLIED PRODUCTS COMPANY', N'Cement')
INSERT [dbo].[MaterialDetails] ([MaterialId], [Name], [Category]) VALUES (2012, N'AADI CEMENTS PVTT LTD', N'Cement')
INSERT [dbo].[MaterialDetails] ([MaterialId], [Name], [Category]) VALUES (2013, N'ACC LIMITED', N'Cement')
SET IDENTITY_INSERT [dbo].[MaterialDetails] OFF
GO
